<div class="container col-12 col-lg-6 mx-auto">

  <app-confirm-alert [text]="confirmText" *ngIf="confirmText"></app-confirm-alert>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="display-8 mb-0 title">Nuestros Cursos</h1>
    <a class="btn btn-primary" routerLink="./save">Registrar Nuevo Curso</a>
  </div>

  <ul class="list-group">

    <ng-container *ngIf="cursos.length>0;else noCursos">
      <li class="bg-white list-group-item border-0 mb-3 shadow-sm rounded"
        *ngFor="let curso of cursos | paginate:{itemsPerPage:4,currentPage: pagina}">
        <a class="text-secondary text-decoration-none d-grid" [routerLink]="['./detail']"
          [queryParams]="{id: curso.id}">
          <strong class="cursoTitle">
            {{curso.codigo + ' | ' + curso.nombre}}
          </strong>
          <small>
            Última modificación:
            {{curso.updatedAt | date:formatoFecha}}
          </small>
        </a>
      </li>
      <pagination-controls (pageChange)="pagina = $event" previousLabel="Anterior" nextLabel="Siguiente"
        class="text-secondary bg-light mb-3 shadow-sm rounded mx-auto p-2">
      </pagination-controls>
    </ng-container>

    <ng-template #noCursos>
      <li class="bg-white list-group-item border-0 mb-3 shadow-sm rounded">
        No se han cargado ningun curso en nuestro sistema</li>
    </ng-template>

  </ul>

</div>
